/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
                // Row 1 (top)
                                &kp Q           &kp W           &kp F           &kp P           &kp B           &kp J           &kp L           &kp U           &kp Y           &kp SQT

                // Row 2 (home, with LCTRL/LGUI swapped for CAGS)
                                &u_mt LCTRL A   &u_mt LALT R    &u_mt LGUI S    &u_mt LSHFT T   &kp G           &kp M           &u_mt LSHFT N   &u_mt LGUI E    &u_mt LALT I    &u_mt LCTRL O

                // Row 3 (bottom, with outer pinky keys represented by &trans)
                &trans          &kp Z           &kp X           &kp C           &kp D           &kp V           &kp K           &kp H           &kp COMMA       &kp DOT         &kp SLASH       &trans

                // Thumbs
                                         &u_lt MEDIA ESC       &u_lt NAV SPACE       &u_lt MOUSE TAB            &u_lt SYM RET       &u_lt NUM BSPC       &u_lt FUN DEL
            >;
        };
    };
};
