/ {
    keymap {
        compatible = "zmk,keymap";

        nav_layer {
            label = "NAV";
            bindings = <
  // Top row
                  &bootloader   &u_to_U_TAP     &u_to_U_EXTRA  &u_to_U_BASE  &none          &none        &none          &none         &none        &none

  // Home row (CAGS order)
                  &kp LCTRL     &kp LALT        &kp LGUI       &kp LSHFT     &none          &none        &kp LSHFT      &kp LGUI      &kp LALT     &kp LCTRL

  // Bottom row (outer pinkies)
        &trans    &u_caps_word  &kp LEFT        &kp DOWN       &kp UP        &kp RIGHT      &none        &none          &none         &none        &none        &trans

  // Thumbs
                                &kp RET         &kp BSPC       &kp DEL                     &none        &none          &none
            >;
        };
    };
};
